/* подкл обнул кода ( обнул-е ниже )скак и ниже */
@import "./reset.css";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

/* body  ---   без точки ))) */
body {
  font-family: "Poppins", sans-serif;
  color: black;
}
a {
  cursor: pointer;
}

:root {
  --fw-regular: 400;
  --fw-semiBold: 600;
  --fw-medium: 500;
  --fw-bold: 700;
  --color-colorText: #0000;
}

/* ---------------  HEADER  --------------------- */

.header {
  padding-top: 46px;
  background-color: #f1f1f1;
}
.container {
  /* ширина контента + падинги ( у моб версии по 30  и тут так */
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
/* ------  nav   ---------- */

.header__nav {
  display: flex;
  justify-content: space-between;
  /* список ниже чем кельвин поэтому */
  align-items: flex-end;
}
.logo {
  font-weight: var(--fw-bold);
  font-size: 32px;
  color: var(--colorText);
  /* line-height: 1; */
  /* background-color: burlywood; */
}
/* оранжевый кружок */
.logo::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fda300;
  border-radius: 50%;
  margin-left: 105%;
}

/* ---------------------  HEADER-nav  ------------------ */
.nav {
}
.nav-list {
  display: flex;
  column-gap: 50px;
  font-size: 14px;
  font-weight: var(--fw-medium);
}

/* класс актив на ссылке на кот мы странице сейчас */
.nav-link.activ {
  color: #606060;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ------------------    HEADER-content ----------------- */

.header__row {
  display: flex;
  justify-content: space-between;
  /* column-gap чтоб при адаптиве между контентом был зазор */
  column-gap: 30px;
  margin-top: 76px;
}

.header-content {
  max-width: 500px;
}
.header-h {
  font-size: 44px;
  font-weight: var(--fw-semiBol);
  color: var(--colorText);
  margin-top: 124px;
  line-height: 1.5;
}
.header-p {
  font-size: 14px;
  font-weight: var(--fw-regular);
  color: var(--colorText);
  margin-top: 20px;
  line-height: 1.5;
}

.header__row img {
  max-width: 494px;
  min-height: 613px;
}
.header-img img {
  max-width: 494px;
  max-height: 613px;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ----------------------------  SERVICES  ----------------------------- */

.services {
  padding: 90px 0;
}

.services__row {
  display: flex;
  column-gap: 30px;
}
.servise-card {
}
.servise-card h3 {
  margin: 30px 0 10px 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: var(--fw-semiBold);
}
.servise-card p {
  font-size: 14px;
  font-weight: var(--fw-regular);
  line-height: 2;
}
/* .ser-img {
  max-width: 68px;
  max-height: 68px;
} */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */